<div class="lightbox" id="lightbox" aria-hidden="true" role="dialog">
	<button class="lightbox__close" aria-label="{{ 'Close' if htmlLang == 'en' else 'Закрыть' }}"><span>{{ 'Close' if htmlLang == 'en' else 'Закрыть' }}</span></button>
	<img class="lightbox__img" src="" alt="">
</div>
