<div class="lightbox" id="lightbox" aria-hidden="true" role="dialog">
	<button class="lightbox__close" aria-label="Закрыть"><span>Готово</span></button>
	<img class="lightbox__img" src="" alt="">
</div>
